<!--
  Generated template for the UsuariosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>usuarios</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-item>
		<ion-label stacked>
			Órgão do usuário
		</ion-label>
		<ion-select interface="popover" [(ngModel)]="pesquisa.orgao_id" multiple="true">
			<ion-option *ngFor="let x of orgao" [value]="x.orgao_id">{{x.orgao_sigla}}</ion-option>
		</ion-select>
	</ion-item>
	
	<ion-item *ngIf="pesquisa.orgao_id == 2">
		<ion-label stacked>
			Setores
		</ion-label>
		<ion-select interface="alert" [(ngModel)]="pesquisa.setor_id" multiple="true" [selectOptions]="optionsSetor">
			<ion-option *ngFor="let x of setor" [value]="x.setor_id">{{ x.setor_sigla }}</ion-option>
		</ion-select>
	</ion-item>

	<ion-item *ngIf="pesquisa.tipo == 'E'">
		<ion-label stacked>
			Òrgãos
		</ion-label>
		<ion-select interface="alert" [(ngModel)]="pesquisa.orgao_id" multiple="true" [selectOptions]="optionsOrgao">
			<ion-option *ngFor="let x of orgao" [value]="x.orgao_id">{{ x.orgao_sigla }}</ion-option>
		</ion-select>
	</ion-item>

	<ion-item>
		<button ion-button full rounded icon-end (click)="getPesquisa()">
			Pesquisar
			<ion-icon name="search"></ion-icon>
		</button>
	</ion-item>
	<ion-item *ngFor="let x of resultado" (click)="detalhePage(x)">
		<strong>Usuário: </strong>{{ x.solicitante_nome }}
		<strong>Órgão: </strong>{{ x.orgao_sigla }}
		<strong *ngIf="x.setor_sigla">Setor: </strong>{{ x.setor_sigla }}
	</ion-item>
</ion-content>
