<ion-header>
  <ion-navbar>
	<ion-title *ngIf="!acao">Nova movimentação</ion-title>
	<ion-title *ngIf="acao == 'edit'">Editar empréstimo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-item>
		<ion-searchbar placeholder="Equipamentos alocados"
			(ionInput)="pesquisa($event)"></ion-searchbar>
	</ion-item>
  <div class="text-center" *ngIf="statusLoadingEquip">
    <div class="spinner-border text-info" role="status">
    </div>
      <b>Carregando equipamentos...</b>
  </div>
		<ion-item *ngFor="let x of equipamentos" (click)="adicionarEquipamento(x)">
			{{x.equipamento_tomb }} - {{x.equipamento_descricao}}
		</ion-item>
	<ion-chip color="secondary" *ngFor="let x of equipamentos_selecionados; let i = index" class="chip">
		<ion-icon color="primary">{{i + 1}}</ion-icon>
		<ion-label>{{x.equipamento_tomb}} | {{ x.equipamento_descricao }}</ion-label>
			<button ion-button (click)="deletar(i)">
    			<ion-icon name="close"></ion-icon>
  			</button>
	</ion-chip>
  <form (ngSubmit)="postEmprestimo()"> <!-- Depois add validator -->
  	<ion-item>
  		<ion-label stacked>
  			Tipo de movimentação
  		</ion-label>
  		<ion-select [(ngModel)]="emprestimo.tipo_emprestimo" cancelText="cancelar" interface="popover" name="tipo">
  			<ion-option value="I">Interna</ion-option>
  			<ion-option value="E">Externa</ion-option>
  		</ion-select>
  	</ion-item>
  	<ion-item *ngIf="emprestimo.tipo_emprestimo == 'E'">
  		<ion-label stacked>
  			Orgão destino
  			<ion-icon name="calculator"></ion-icon>
  		</ion-label>
  		<ion-select interface="alert"  multiple="false" [(ngModel)]="emprestimo.orgao_id" name="localizacao">
			<ion-option *ngFor="let x of orgaos" [value]="x.orgao_id">{{x.orgao_sigla}}</ion-option>
		  </ion-select>
  	</ion-item>
    <ion-item *ngIf="emprestimo.tipo_emprestimo == 'I'">
    <ion-label stacked>
      Localizacao
    </ion-label>
    <ion-select interface="alert"  multiple="false" [(ngModel)]="emprestimo.localizacao_id" name="localizacao">
      <ion-option *ngFor="let x of locais" [value]="x.localizacao_id">{{x.localizacao_nome}}</ion-option>
    </ion-select>
  </ion-item>
  	<ion-item>
  		<ion-label>
  			Data de empréstimo
  			<ion-icon name="calendar"></ion-icon>
  		</ion-label>
  		<ion-datetime pickerFormat="DD-MMMM-YYYY" 
        monthNames="{{functions.mesNomes}}"
        monthShortNames="{{functions.mesShort}}"
        cancelText="Cancelar" doneText="Feito" placeholder="Data da movimentação"
        [(ngModel)]="emprestimo.data_emprestimo" name="data_emprestimo">
      </ion-datetime>
  	</ion-item>
  	<ion-item>
  		<ion-label>
  			Data de devolução
  			<ion-icon name="calendar"></ion-icon>
  		</ion-label>
    	<ion-datetime pickerFormat="DD-MMMM-YYYY"
      monthNames="{{functions.mesNomes}}" monthShortNames="{{functions.mesShort}}" cancelText="Cancelar" doneText="Feito" placeholder="Data de devolução"  [(ngModel)]="emprestimo.data_devolucao" name="data_devolucao"
      ></ion-datetime>
  	</ion-item>
    <ion-item>
      <ion-label>
        Observação
        <ion-icon name="add"></ion-icon>
      </ion-label>
      <ion-input type="text" [(ngModel)]="emprestimo.observacao" placeholder="Observação acerca da movimentação"
        name="observacao"></ion-input>
    </ion-item>
    <ion-item (click)="solicitanteModal()">
      Solicitante do empréstimo: {{usuario_selecionado?.solicitante_nome}}
    </ion-item>
    <ion-item>
      <button ion-button full type="submit">
        <span [ngClass]="statusNewMo"></span>
        Enviar
      </button>
    </ion-item>
  </form>
</ion-content>
