<ion-header>
  <ion-navbar>
    <ion-title>nova-movimentacao</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-item>
		<ion-searchbar placeholder="Equipamentos alocados"
			(ionInput)="pesquisa($event)"></ion-searchbar>
	</ion-item>
		<ion-item *ngFor="let x of equipamentos" (click)="adicionarEquipamento(x)">
			{{x.equipamento_tomb }} - {{x.equipamento_descricao}}
		</ion-item>
	<ion-chip color="secondary" *ngFor="let x of equipamentos_selecionados; let i = index">
		<ion-icon name="flag" color="primary"></ion-icon>
		<ion-label>{{x.equipamento_tomb}}</ion-label>
			<button ion-button (click)="deletar(i)">
    			<ion-icon name="close"></ion-icon>
  			</button>
	</ion-chip>
  <form (ngSubmit)="postEmprestimo()"> <!-- Depois add validator -->
  	<ion-item>
  		<ion-label stacked>
  			Tipo de movimentação
  		</ion-label>
  		<ion-select [(ngModel)]="emprestimo.tipo_emprestimo" cancelText="cancelar" interface="popover" name="tipo">
  			<ion-option value="I">Interna</ion-option>
  			<ion-option value="E">Externa</ion-option>
  		</ion-select>
  	</ion-item>
  	<ion-item *ngIf="emprestimo.tipo_emprestimo == 'E'">
  		<ion-label stacked>
  			Orgão do usuário
  			<ion-icon name="calculator"></ion-icon>
  		</ion-label>
  		<ion-input type="text" name="orgao"></ion-input>
  	</ion-item>
  	<ion-item>
  	    <ion-label stacked>
  	    	Tombamento
  	      <ion-icon name="calculator"></ion-icon>
  	    </ion-label>
      <ion-icon name="clock"></ion-icon>
  		<ion-input type="number" placeholder="Identificação do equipamento" required name="tombamento"></ion-input>
  	</ion-item>
  	<ion-item>
  		<ion-label>
  			Data de empréstimo
  			<ion-icon name="calendar"></ion-icon>
  		</ion-label>
  		<ion-datetime pickerFormat="DD-MMMM-YYYY HH:mm" monthNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro" monthShortNames="Jan, Fev, Mar, Maio, Jun, Jul, Ago, Set, Out, Nov, Dez" cancelText="Cancelar" doneText="Feito" placeholder="Data da movimentação"></ion-datetime>
  	</ion-item>
  	<ion-item>
  		<ion-label>
  			Data de devolução
  			<ion-icon name="calendar"></ion-icon>
  		</ion-label>
  		<ion-datetime pickerFormat="DD-MMMM-YYYY HH:mm" monthNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro" monthShortNames="Jan, Fev, Mar, Maio, Jun, Jul, Ago, Set, Out, Nov, Dez" cancelText="Cancelar" doneText="Feito" placeholder="Data de devolução"></ion-datetime>
  	</ion-item>
    <ion-item>
  		<ion-searchbar placeholder="Usuário responsável"
  			(ionInput)="pesquisaUsuario($event)"></ion-searchbar>
  	</ion-item>
    <ion-item *ngFor="let x of usuarios">
			{{x.usuario_nome }}
		</ion-item>
    <ion-item>
      <button ion-button full type="submit">Enviar</button>
    </ion-item>
  </form>
</ion-content>
