<!--
  Generated template for the MovimentacoesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Empréstimos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="getEmprestimos($event)">
        <ion-refresher-content pullingText="Puxe para atualizar os resultados..." refreshingText="Atualizando..."></ion-refresher-content>
      </ion-refresher>
  <div *ngFor="let x of emprestimos">
    <ion-item (click)="editarPage(x)">
        <ion-label>
            <ion-icon name="calendar"></ion-icon>
            Data de empréstimo:
            {{x.data_emprestimo}}
          </ion-label>

          <ion-label>
              <ion-icon name="person"></ion-icon>
              Nome do solicitante:
              {{ x.solicitante_nome }}
            </ion-label>
            <ion-label>
                <ion-icon name="eye"></ion-icon>
               Destino:
                <span *ngIf="x.localizacao_nome">{{ x.localizacao_nome}}</span>
                <span *ngIf="x.orgao_sigla">{{ x.orgao_sigla }}</span>
              </ion-label>
      </ion-item>
      </div>
</ion-content>
