<ion-header>
  <ion-navbar>
    <ion-title>editar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="tipo == 'solicitante'">
  <form (ngSubmit)="editarSolicitante()">
		<ion-item>
			<ion-label stacked>
				Nome
				<ion-icon name="person"></ion-icon>
			</ion-label>
			<ion-input type="text" placeholder="Nome de usuário" [(ngModel)]="data.solicitante_nome" name="nome"></ion-input>
		</ion-item>
		<ion-item >
		<ion-label stacked>
			Órgão
		</ion-label>
		<ion-select interface="alert" [(ngModel)]="data.orgao_id" multiple="false" [selectOptions]="optionsOrgao" name="orgao">
			<ion-option *ngFor="let x of orgao" [value]="x.orgao_id">{{ x.orgao_sigla }}</ion-option>
		</ion-select>
	</ion-item>
	<ion-item>
		<button ion-button type="submit" icon-end full>
			Atualizar
			<ion-icon name="cloud-done"></ion-icon>
		</button>
	</ion-item>
	</form>
</ion-content>
